/*changing the background blue*/
body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(93, 31, 207);
    margin-left: 11em;
    font-size: 5.5ex;
  }

  /*phone*/
    @media (max-width: 1000px){
    h1 {
       font-size: 8mm;
       margin-left: 2em;
       text-align: center;
       color:rgb(165, 46, 129);
    }
}
  h2 {
      color: #0824F7;
      margin-left: 2ch;
      font-size: 8mm
  }

  #dateontop {color: rgba(132, 11, 156, 0.603);
      margin-left: 1.5pc;
      font-size: 22Q
  }

  /*this use for create a box for the title and date*/
   .box {
    border-style: solid;
    border-color: rgb(235, 77, 187);
    border-width: 4px;
    border-radius: 20px;

    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;

    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 3cm;
    margin-right: 3cm;

    position: static;
  }

  /*this use for create a box for the footer*/
  .bottomBox {
    border-style: dotted;
    border-color: rgb(165, 46, 129);
    border-width: 4px;
    border-radius: 5px;

    padding: 2mm 2mm 2mm 2em;
    margin: 5mm 1cm 5mm 1cm;

  }

  .suggestBox {
    border-style: solid;
    border-color: rgb(77, 180, 46);
    border-width: 4px;
    border-radius: 5px;
    margin: auto;
  }

  #BrainStorm {
    background: gold;
    width: 10px;
    min-width: 320px;
    max-width: 100%;
  }

   #tryFixed {
       text-align: right;
       color: darkblue;
       position: fixed;
       top: 20px;
       right: 80px
   }

   #linkInDoc {
       background-color: rgb(88, 206, 88);
       transition: background-color .5s;
   }

   #linkInDoc:hover{
    background-color: rgb(230, 182, 27);
   }

   #click {
    background-color: yellow;
   }

   #click:active{
       color: red;
   }
   
   .wordFont {
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 94, 59);
  }

  .flex-container > div {
    background-color: #43ca9d;
    margin: 50px;
    padding: 15px;
  }