/*changing the background blue*/
body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(93, 31, 207);
    margin-left: 11em;
    font-size: 5.5ex;
  }

  /*phone*/
    @media (max-width: 1000px){
    h1 {
       font-size: 8mm;
       margin-left: 2em;
       text-align: center;
       color:rgb(165, 46, 129);
    }
}
  * h2 {
      color: #0824F7;
      margin-left: 2ch;
      font-size: 14mm;
      font-family: 'Ephesis', cursive;
  }

  #dateontop {color: rgba(132, 11, 156, 0.603);
      margin-left: 1.5pc;
      font-size: 22Q
  }

  /*this use for create a box for the title and date*/
   .box {
    border-style: solid;
    border-color: rgb(235, 77, 187);
    border-width: 4px;
    border-radius: 20px;

    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;

    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 3cm;
    margin-right: 3cm;

    position: static;
  }

  /*this use for create a box for the footer*/
  .bottomBox {
    border-style: dotted;
    border-color: rgb(165, 46, 129);
    border-width: 4px;
    border-radius: 5px;

    padding: 2mm 2mm 2mm 2em;
    margin: 5mm 1cm 5mm 1cm;

  }

  .suggestBox {
    border-style: solid;
    border-color: rgb(77, 180, 46);
    border-width: 4px;
    border-radius: 5px;
    margin: auto;
  }

  #BrainStorm {
    background: gold;
    width: 120px;
    height: 270px;
    min-width: 320px;
    max-width: 100%;
  }

   #tryFixed {
       text-align: right;
       color: darkblue;
       position: fixed;
       top: 20px;
       right: 80px
   }

   #linkInDoc {
       background-color: rgb(88, 206, 88);
       transition: background-color .5s;
   }

   #linkInDoc:hover{
    background-color: rgb(230, 182, 27);
   }

   #click {
    background-color: yellow;
   }

   #click:active{
       color: red;
   }
   
   .wordFont {
    font-family: 'Roboto Condensed', sans-serif;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: rgb(34, 94, 59);
  }

  .flex-container > div {
    background-color: #43ca9d;
    margin: 30px;
    padding: 15px;
  }

  .grid-container {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 200px [col-start]); /*make 3 columns in a row*/
    grid-gap: 20px;      
    background-color: #517fb8;;
    padding: 30px;       
    justify-content: space-around;
  }
  
  .grid-container > li {
    background-color: hsla(0,100%,0%,0.3); 
    text-align: center;
    padding: 25px;
    font-size: 15px;
    color:rgb(196, 196, 196)
  }

  a[href*="watch"] {
    background-color: rgb(31, 151, 145);
  }

  a:link {
    color:rgb(135, 221, 37);
  }

  em ,li{
    color: purple;
    font-size: 120%;

  }

  ul li {
    background-color: chartreuse;
  }

  ol ~ p {
   background-color: rgb(28, 213, 219);
   color:rgb(211, 57, 159);
   font-size: 150%;
   font-weight: bold;
  }

  ul + p {
    background-color:rgb(221, 57, 199);
    font-size: 120%;
    
  }

  h1.wordFont {
    background-color: yellow;
    width: 340px;
  }